/*

color: ;
background-color: ;
font-family: ;
font-weight: ;
font-size: ;
text-decoration-line: ;
text-align: justify;
font-style: ;
border: 15px;

body{

}
h1{

}
h2{

}
li{
    list-style-image: url(Lista.png);
}
p{

}
table{
    
}
*/