body {
    background-color:#9ac7c5;
}

h1 {
    color: #f4f44d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    size: 150%;
    text-align: center;
    text-decoration: underline;
}
.parrafo1 {
    text-align: center;
}
h2 {
    color: #f4f44d;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    size:120%;
    text-align: center;
    text-decoration: underline;
    text-indent:20px;
}

p {

    font-family: 'Times New Roman', Times, serif;
    color: #141211;
    size: 100%;
    text-align: justify;
    text-indent: 15px;
}

label {

    font-family: 'Times New Roman', Times, serif;
    color: #141211;
    size: 100%;
    text-align: justify;
    text-indent: 15px;
    font-weight: bold;
}

ul {

    color:#141211;
    font-family: 'Times New Roman', Times, serif;
    list-style-image: url("Lista.png");
}

table {

    size: 100%;
    text-indent: 15px;
    color:#141211;
    border:30px;
    border-color: #141211;
}